.li-bar{
    width: 1px;
    background-color: #dddddd;
    display: block;
    padding: 0.7px !important;
    height: 1.5rem;

}


a.navbar-brand {
    margin: 0px;
    padding: 0px 185px 0px 0px;
     

    img{
        height: 60px;
    }
   
}

 


.nav-icon i{
    font-size: 2.5rem;
   color: rgb(0, 0, 0)  ;
}

 


    

    

  


.custom-dropdown{
    position: relative;
    outline: none;
    text-decoration: none;
}
.custom-dropdown ul{
    display: none;
    min-width: 100px;
    position: absolute;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    transform: scaleX(1);
    transition: .9s;
  
}
.custom-dropdown:hover ul{
    display: block;
    
}
 
 

    







 























 
